/*
 * Copyright (C) 2014 Samsung Electronics Co.Ltd
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "sdp1404.dtsi"

/ {
	model = "Samsung DTV based on SDP1404 SoC";
	compatible = "samsung,dtv", "samsung,sdp1404";

	memory {
		device_type = "memory";
		reg =  <0xF2000000 0x2E000000>;
	};
	/*in the below chosen, before  SELP_ENABLE must have more than 1 space.because 2nd booting will change mmcblk0p8 to mmcblk0p11 */
	chosen {
		bootargs = __STR__(root=/dev/mmcblk0p10  console=ttyS0,115200N8  SELP_ENABLE=00000000 rootfstype=vdfs rootwait earlyprintk vmalloc=776M av QUIET_PARAM) ;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0>;
			cluster = <&cluster0>;
			core = <&core0>;
			clock-frequency = <1300000000>;
//			cci-control-port = <&cci_control1>;
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <1>;
			cluster = <&cluster0>;
			core = <&core1>;
			clock-frequency = <1300000000>;
//			cci-control-port = <&cci_control1>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <2>;
			cluster = <&cluster0>;
			core = <&core2>;
			clock-frequency = <1300000000>;
//			cci-control-port = <&cci_control1>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <3>;
			cluster = <&cluster0>;
			core = <&core3>;
			clock-frequency = <1300000000>;
//			cci-control-port = <&cci_control1>;
		};
		
		cpu@4 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x100>;
			cluster = <&cluster1>;
			core = <&core4>;
			clock-frequency = <1000000000>;
//			cci-control-port = <&cci_control2>;
		};
		cpu@5 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x101>;
			cluster = <&cluster1>;
			core = <&core5>;
			clock-frequency = <1000000000>;
//			cci-control-port = <&cci_control2>;
		};

		cpu@6 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x102>;
			cluster = <&cluster1>;
			core = <&core6>;
			clock-frequency = <1000000000>;
//			cci-control-port = <&cci_control2>;
		};

		cpu@7 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x103>;
			cluster = <&cluster1>;
			core = <&core7>;
			clock-frequency = <1000000000>;
//			cci-control-port = <&cci_control2>;
		};

	};

	fixed-rate-clocks {
		fin {
			compatible = "samsung,sdp-clock-fin";
			clock-frequency = <24576000>;
		};
		fin-lvds {
			compatible = "samsung,sdp-clock-fin-lvds";
			clock-frequency = <148500000>;
		};
	};

	pinctrl{ // only P
		compatible = "samsung,sdp-pinctrl";
		reg = <0x11250C00 0x2f0>;
		start-offset = <0x118>;
		nr-banks = <27>;	
		model-sel = <1>;	
	};

	serial@10090A00 {
		status = "okay";
	};
	
	serial@10090A40 {
		status = "okay";
	};
	
	serial@10090A80 {
		status = "okay";
	};
	
	serial@10090AC0 {
		status = "okay";
	};
	
	i2c@10090100 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@10090120 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@10090140 { 
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@10090160 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@10090180 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@100901A0 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@100901C0 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;

		tps56720@37 {
			compatible = "ti,tps56720";
			reg = <0x37>;
		
			regulator-name = "CPU_BIG_PW";
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <1870000>;
			regulator-always-on;
			regulator-boot-on;
			
			default_volt = <1230000>;
		};
	};

	i2c@100901E0 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100901F4>;
		samsung,i2c-cpu-affinity = <3>;

		tps56720@35 {
			compatible = "ti,tps56720";
			reg = <0x35>;

			regulator-name = "GPU_LOG_PW";
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <1870000>;
			regulator-always-on;
			regulator-boot-on;

			default_volt = <1100000>;
		};
	};

	i2c@10091000 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
		samsung,i2c-cpu-affinity = <3>;

		/* panel 0xEC */
		panel@76 {
			compatible = "samsung,tztv-tcon";
			reg = <0x76>;
		};

		/* panel 0xE8 */
		panel@74 {
			compatible = "samsung,tztv-tcon";
			reg = <0x74>;
		};

		/* panel 0xA0 */
		panel@50 {
			compatible = "samsung,tztv-tcon";
			reg = <0x50>;
		};

		tps56c20@36 {
			compatible = "ti,tps56c20";
			reg = <0x36>;
		
			regulator-name = "CORE_PW";
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <1870000>;
			regulator-always-on;
			regulator-boot-on;
			
			default_volt = <1130000>;
		};
	};

	i2c@10091020 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
		samsung,i2c-pad-enable = <0x11250C40 0x800000>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@10091040 { 
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
	//	samsung,i2c-pad-enable = <0x10030000 0x80000000>;// Mux HS
		samsung,i2c-cpu-affinity = <3>;

		/* panel C8 */
		panel@64 {
			compatible = "samsung,tztv-frc";
			/*samsung,sw-pvcc = <&gpio0 3 1>;*/
			reg = <0x64>;
		};

		/* panel C0 SUB */
		panel@60 {
			compatible = "samsung,tztv-frc";
			/*samsung,sw-pvcc = <&gpio0 3 1>;*/
			reg = <0x60>;
		};

		/* panel C2 SUB */
		panel@61 {
			compatible = "samsung,tztv-frc";
			/*samsung,sw-pvcc = <&gpio0 3 1>;*/
			 reg = <0x61>;
		};

		/* panel 0x90 */
		panel@48 {
			compatible = "samsung,tztv-tcon";
			reg = <0x48>;
		};
	};

	i2c@10091060 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
		samsung,i2c-pad-enable = <0x11250C40 0x1000000>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@10091080 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
		samsung,i2c-pad-enable = <0x11250C40 0x2000000>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@100910A0 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@100910C0 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
		samsung,i2c-pad-enable = <0x11250C44 0x8000000>;
		samsung,i2c-cpu-affinity = <3>;
	};

	i2c@100910E0 {
		status = "okay";
		samsung,i2c-sda-delay = <1>;
		samsung,i2c-max-bus-freq = <400000>;
		samsung,i2c-irq-status-reg = <0x100910F4>;
		samsung,i2c-pad-enable = <0x11250C44 0x10000000>;
		samsung,i2c-cpu-affinity = <3>;

	};

	panel: panel {
		compatible = "samsung,sdp1202-panel";

	};

	dummy_panel {
		compatible = "dummy_panel";

		panel = <&panel>;

		display-timings {
			native-mode = <&timing0>;

			timing0: timing-0 {
				 clock-frequency = <0>;
				 hactive = <1920>;
				 vactive = <1080>;
				 hfront-porch = <0>;
				 hback-porch = <0>;
				 hsync-len = <0>;
				 vfront-porch = <0>;
				 vback-porch = <0>;
				 vsync-len = <0>;
			};
		};
	};
	
	mmc {
		/* Host Caps */
//		ddr50;
//		hs200;
//		hs200-tuning;
		hs400;
	};

	ethernet@10020000 {
		phy_sel_reg = <0x10040000 0x1 0x1>;		/* select RGMII for eval board*/
	};

	gadma@18B40000 {
		status = "okay";
	};

	ehci@11700000 {
		status = "okay";
/*
		samsung,sw-reset = <0x11250000 0x8B4 0x20000>;
		samsung,ehci-gpr_reg = <0x1170C000 0x04 0x7000>;
		samsung,ehci-gpr_reg1 = <0x1170C000 0x0C 0x100C0>;
		samsung,sw-reset-release = <0x11250000 0x8B4 0x20000>;
*/
	};

	ehci@11710000 {
		status = "okay";
/*
		samsung,sw-reset = <0x11250000 0x8B4 0x40000>;
		samsung,ehci-gpr_reg = <0x1170C000 0x18 0x7000>;
		samsung,ehci-gpr_reg1 = <0x1170C000 0x20 0x100C0>;
		samsung,sw-reset-release = <0x11250000 0x8B4 0x40000>;
*/
	};

	ohci@11708000 {
		status = "okay";
	};

	ohci@11718000 {
		status = "okay";
	};

	xhci@11900000 {
		status = "okay";
	};

	thermal@11250C70 {
		status = "okay";
		compatible = "samsung,sdp-thermal";

		reg = <0x11250C70 0x30>;

		sensor_id = <0>;

		start_cold_throttle	= <40>;
		stop_cold_throttle	= <45>;
		stop_1st_throttle	= <102>;
		start_1st_throttle	= <110>;
		stop_2nd_throttle	= <112>;
		start_2nd_throttle	= <118>;
		stop_3rd_throttle	= <120>;
		start_3rd_throttle	= <125>;
		start_3rd_hotplug	= <130>;

		cpu_limit_1st_throttle	= <1000000>;
		cpu_limit_2nd_throttle	= <700000>;
		cpu_limit_3rd_throttle	= <100000>;

		cpu_lt_limit_1st_throttle = <1000000>;
		cpu_lt_limit_2nd_throttle = <1000000>;
		cpu_lt_limit_3rd_throttle = <1000000>;

		gpu_limit_1st_throttle	= <200000>;
		gpu_limit_2nd_throttle	= <200000>;
		gpu_limit_3rd_throttle	= <100000>;

		log_file_path = "/mtd_rwarea/ThermalThrottle.txt";
	};
	
	sata@11180000 {
		status = "okay";
	};
};
